<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:http="http://www.springframework.org/schema/c"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd


      ">
    <!--扫描service下的包-->
    <context:component-scan base-package="ln.service"/>
    <context:component-scan base-package="mxz.service"/>
    <context:component-scan base-package="gsh.service"/>
    <context:component-scan base-package="ljy.digou.service"/>
    <context:component-scan base-package="wzz.digou.service"/>
    <!--    <context:component-scan base-package="wzz.service"/>-->




</beans>