<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ln.dao.CommodityDao">

    <select id="getCommodityList" resultType="commodity">
        select *
        from storage.commodity
    </select>
    <select id="getCommodityLike" parameterType="string" resultType="ln.pojo.Commodity">
        select *
        from storage.commodity
        where name like CONCAT('%', #{name}, '%');
    </select>
    <select id="getCommodityByID" resultType="ln.pojo.Commodity" parameterType="string">
        select *
        from storage.commodity
        where commodity_id = #{commodity_id}
    </select>

    <insert id="addCommodity" parameterType="ln.pojo.Commodity">
        insert into storage.commodity(commodity_id, cate_id, store_id, name, subtitle, main_image, sub_images, detail,
                                      price, quantity, location, status, creat_time, modify_time)
        VALUES (#{commodity_id}, #{cate_id}, #{store_id}, #{name}, #{subtitle}, #{main_image}, #{sub_images}, #{detail},
                #{price}, #{quantity}, #{location}, #{status}, #{creat_time}, #{modify_time})
    </insert>

    <update id="updateCommodity" parameterType="ln.pojo.Commodity">
        update storage.commodity
        set name       = #{name},
            store_id   = #{store_id},
            price      = #{price},
            cate_id    = #{cate_id},
            subtitle=#{subtitle},
            main_image=#{main_image},
            sub_images=#{sub_images},
            detail=#{detail},
            price=#{price},
            quantity=#{quantity},
            location=#{location},
            status=#{status},
            modify_time=#{modify_time}
        where commodity_id = #{commodity_id};
    </update>


    <delete id="deleteCommodity" parameterType="string">
        delete
        from storage.`commodity`
        WHERE commodity_id = #{commodity_id};

    </delete>
</mapper>